html, body, #menu ul {
    margin: 0;
    padding: 0;
}

#menu ul {
    background: #cccccc;
    height: 52px;
    margin: 14px 11px;
}

#menu li {
    float: left;
    list-style: none;
}

#menu a {
    color: #222222;
    display: block;
    font-family: "Helvetica Neue", Helvetica, "DejaVu Sans Condensed", "DejaVu Sans", Calibri, "Myriad Pro", Myriad, "Liberation Sans", Arial, sans-serif;
    font-size: 20px;
    line-height: 54px;
    margin: 0 6px 0 7px;
    text-decoration: none;
    padding: 0 35px;
    position: relative;
}

#menu a:hover,
#menu a:focus,
#menu a:active {
    background: #999999;
    height: 83px;
    line-height: 82px;
    margin-top: -14px;
    text-decoration: underline;
}
